 @font-face {
    font-family:"Bebas-Neue";
    src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Courier;
    src: url(../assets/fonts/Courier_Prime/CourierPrime-Regular.ttf);
}

@font-face {
    font-family: Open-Sans;
    src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

/* DESKTOP FIRST */

/* reset */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* classes genéricas */

.layout-grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* formatação de texto */

 h1 {
     font-family: Bebas-Neue;
     color: #ffff;
     font-size: 96px;
     font-weight: 400;
     line-height: 115px;

     width: 545px;
     height: 246px;

     border-bottom:1px solid #FFAF00;
 }

 h2 {
     font-family: Bebas-Neue;
     color: #FFAF00;
     font-size: 64px;
     font-weight: 400;
     line-height: 77px;

     width: 557px;
     height: 154px;
 }
 #sobre {
     font-family: Bebas-Neue;
     color: #F9003D;
     font-size: 64px;
     font-weight: 400;
     line-height: 77px;

     width: 557px;
     height: 154px;
 }

 h3 {
     font-family: Courier;
     color: #F9003D;
     font-size: 53px;
     font-weight: 700;
     line-height: 60px;
    
     margin-top: 29px;
     width: 544px;
     height: 68px;
 }

 h4 {
    font-family: Courier;
     color: #ffff;
     font-size: 24px;
     font-weight: 700;
     line-height: 27px;
     text-transform: uppercase;
 }

 h5 {
     width: 289px;
     height: 100px;

     font-family: Courier;
     border: #A259F7 1px solid;
     color: #A259F7;
     font-size: 28px;
     font-weight: 700;
     
     display: flex;
     align-items: center;
     justify-content: center;
     text-transform: uppercase;
 }

 p {
     font-family: Open-Sans;
     color: #ffff;
     font-size: 18px;
     font-weight: 400;
     line-height: 25px;
 }

 /* cabeçalho formatação */

 header {
     display: flex;
     justify-content: flex-end;
     align-items: center;

     background-color: #F9003D;

     width: 100%;
     height: 60px;
 }

 header .header-flex {
     display: flex;
     justify-content: end;
 }

 header nav {
     display: flex;
     justify-content: space-between;

     width: 600px;
 }

 header nav a {
     font-family: Bebas-Neue;
     color: white;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 18px;
     font-weight: 400;
     line-height: 22px;

     width: 33px;
     height: 22px;
 }

 header nav a:hover {
    text-shadow: 0px 0px 5px rgba(249, 0, 61, 0.3);
    background-color: white;
    color: #F9003D;
}

 #mobile {
    display: none;
 }

 /* section dvs */

 .banner {
    background-image: url(../images/imagem-fundo-banner\ 1.png);
    background-size: cover;

    height: 740px;

    display: flex;
    align-items: center;
 }

 .mouse-icon {
     width: 37.31px;
     height: 80px;
     margin-top: 29px;
 }

 /* seção sobre */

 .sobre-projetos {
     background-color: #080324;
     background-size:cover;

     height: 800px;

     position: relative;
 }

 #sobre1 {
     display: flex;
     flex-direction: column;
     justify-content: space-between;

     width: 491px;
     height: 617px;
 }

 .img-sobre {
    width: 491px;
    height: 476px;
 }

#sobre1, #sobre2 {
     width: 491px;
     height: 476px;

     display: inline-block;
 }

 #sobre2 {
     justify-content: flex-end;
     flex-direction: column;
     justify-content: space-between;

     margin-left: 50px;

     position: absolute;
     left: 798px;
     top: 305px;
 }

 #sobre {
    margin-top: 60px;
 }

 #participantes { 
position: absolute;
top: -92px;
}

#alunos {
    margin-bottom: 10px;
} 

 /* seção adicionais */

 .adicionais {
     background-image: url(../images/imagem-fundo-info.png);
     background-size: cover;

     height: 200px;

     display: flex;
     align-items: center;
     justify-content: center;
 }

 #articles{
     width: 1200px;
     height: 100px;

     display: flex;
     align-content: center;
     align-items: center;
     justify-content: space-between
 }

 /* seção endereço */

 .endereço {
     background-image: url(../images/imagem-fundo-endereco.png);
     background-size: cover;

     height: 516px;

     display: flex;
     align-items: center;
     position: relative;
    }
 
    #endereço-text {
        width: 899px;
        height: 203.36px;

        background-color: #010010;
        border: 2px solid #A259F7;
        color: #A259F7;
        font-family: Courier;
        font-size: 24px;
        font-weight: inherit;

        display: flex;
        align-items: center;
        padding-left: 64px;
    }

    #endereço-box {
        align-items: center;
    }

    .mapa {
        display: flex;

        position: absolute;
        z-index: 1001;
        right: 480px;
        bottom: 100px;
    }

    /* footer */

    footer {
        height: 82px;

        background-color: #F9003D;
    }

    .footer-flex {
        height:100%;

        display: flex;
        justify-content:center;
        align-items: center;
    }

    /* MEDIA QUERIES */

    /* smartphones >= 0px 767px*/

    @media screen and (max-width: 767px) {

        .mostramenu {
            left: 0%;
        }

        header #mobile {
            display: block;
        }

        header nav {
            position: fixed;

            top: 60px;
            left: -65%;

            width: 65%;
            height: calc(100% - 60px);

            flex-direction: column;
            justify-content: center;
            justify-content: space-around;
            align-items: center;

            background-color: #F9003D; 

            transition: left 0.2s;
        }

        main {
            display: none;
        }

        footer {
            display: none;
        }
    }
